p {
  margin: 0;
  padding: 0;
}

.mimage {
  width: 80vw;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .mimage {
    width: 30vw;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fsview {
  text-align: center;
  margin: 1rem;
}

.fsheading {
  margin-top: -1rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.fstagline {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.fscreate,
.fsjoin {
  margin: 0.5rem;
  padding: 0.25rem 2.25rem;
  border: none;
  margin-top: 1.25rem;
  border-radius: 5px;
}

.fscreate {
  background-color: #f6842c;
  color: white;
}

.fsjoin {
  background-color: #fff;
  color: #f6842c;
  border: 2px solid #f6842c;
}

@media only screen and (min-width: 1280px) {
  .fsheading {
    margin-top: -1rem;
    font-size: 2.75rem;
  }

  .fstagline {
    width: 50vw;
    font-size: 1rem;
    display: block;
    margin: auto;
  }
}

.formheading {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fhcontent{
  text-align: center;
  display: block;
  margin: auto;
}

/* .line {
  height: 1px;
    color: #123455;
    background-color: #123455;
    border: none;
} */

.fhtext{
  color: #f6842c;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.95rem;
}

.iview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.iheading {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
}

.itext {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0.75rem;
}

@media only screen and (min-width: 1280px) {
  .itext {
    width: 40vw;
    font-size: 1rem;
    text-align: center;
  }
}
