.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fsview {
  text-align: center;
}

.fsheading {
  margin-top: -1rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
}

.fstagline {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 1280px) {
  .fsheading {
    margin-top: -1rem;
    font-size: 2.75rem;
  }

  .fstagline {
    width: 50vw;
    font-size: 1rem;
    display: block;
    margin: auto;
  }
}

.validator {
  display: flex;
  margin-bottom: 0.5rem;
}

.validtext {
  margin-left: 0.25rem;
  color: #f44336;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 1300px;
  margin: auto;
}

.validtext1 {
  margin-left: 0.25rem;
  color: #2e7d32;
}

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.mtagline {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 0.9rem;
}

.mlist {
  margin-top: 1rem;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

.mheading {
  font-family: "Noto Sans", sans-serif;
  margin-top: 1rem;
  color: #404040;
  font-size: 1.85rem;
  font-weight: 600;
}

@media only screen and (min-width: 1280px) {
  .mheading {
    font-size: 2rem;
  }
  .mtagline {
    width: 40vw;
    text-align: center;
    font-size: 1.1rem;
  }
}

.first_view_container,
.form_container {
  margin: 2rem;
}

.mimage {
  max-width: 25rem;
  display: block;
  margin: auto;
}

.fsview {
  text-align: left;
  max-width: 35rem;
}

.ff_form_fields,
.second_form_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: flex-start;
  justify-self: center; */
}

.second_form_section,
.first_form_section {
  margin-top: 2rem;
}

.search_button {
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
  margin-top: 0.75rem;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #f78c40;
  font-family: "Noto Sans";
}

.fsheading {
  margin-top: -1rem;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
}

.fstagline {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  max-width: 35rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 1280px) {
  .fsheading {
    margin-top: -1rem;
    font-size: 3.75rem;
  }

  .fstagline {
    font-size: 1rem;
  }
}

/*If the screen width is less tahn 1024px then center align the text int eh first_view_container*/

.fsheading span {
  color: #f78c40;
}

.first_view_container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ff_heading {
  font-size: 1.45rem;
  font-family: "Poppins", sans-serif;
  color: #f78c40;
}

.ff_content {
  max-width: 25rem;
  font-family: "Poppins", sans-serif;
}

.form_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ff_tagline {
  font-size: 0.9rem;
}

@media only screen and (max-width: 1134px) {
  .fsview {
    text-align: center;
  }

  .first_view_container {
    justify-content: center;
  }
}

@media only screen and (min-width: 1100px) {
  .mimage {
    max-width: 30rem;
  }
}
