@media screen and (min-width:1024px) {
  .dashBar {
    position: relative;
    width: calc(100% + 10px);
    height: 3px;
  }

  .dashOnHover:hover .dashBar {
    background-color: black;
  }
}

a {
  color: black;
}

a:hover {
  color: rgb(249 115 22);
}

.nav-mob {
  z-index: 30;
  padding: 20px;
  margin-top: 4px;
  background-color: white;
  justify-content: space-between;
  z-index: 999;
}